@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@layer base{
  
  h1{
    @apply text-black text-lg md:text-2xl font-bold;
  }
  li{
    @apply text-black list-disc text-lg tracking-wider my-2;
  }
  p{
    @apply text-sm md:text-[1rem]
  }
}

@layer components {
  .loading-container{
    @apply flex flex-col items-center justify-center p-2 rounded-[8px] bg-white transition-all 
  }

  .loading-container.small{
    @apply w-[120px] h-[120px]
  }
  .loading-container.medium {
    @apply w-[180px] h-[180px]
  }
  .loading-container.large {
    @apply w-[180px] h-[180px]
  }
}